# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ruairi\OneDrive - National University of Ireland, Galway\Documents\College\4th Year\Next Genereation Technologies III\Assignments\Student Registration System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
